@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&display=swap");
:root {
  --linkedin-color: #0a66c2;
  --github-color: #181717;
  --powered-color: #220052;
  --powered-hover: #120129;
  --code-color: #f95555;
}
#td-widget {
  color: white;
  display: flex;

  flex-direction: column;
  font-size: 2rem;
  align-items: flex-end;
  position: fixed;
  right: 0;
  z-index: 100;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
#td-widget * {
  font-family: "Comfortaa", cursive;
}
.td-item {
  font-size: 2rem;
  align-items: center;
  display: flex;
  max-height: 10rem;
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.td-item a,
.td-item p {
  color: white;
  width: 100%;
  padding: 2.1rem 3rem 2.1rem 2rem;
}
.td-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 2rem;
}
.td-icon-img {
  width: 4rem;
}
.td-link {
  display: none;
  align-items: center;
  justify-content: center;
}
/* POWERED */

.td-powered {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--powered-hover);
  font-size: 1.7rem;
  color: white;
  min-height: 6rem;
  padding: 0 3rem;
}
.td-powered a {
  color: white;
}
.td-powered-icon {
  width: 3rem;
  height: 3rem;
}

/* CODE */
.td-code {
  background-color: var(--code-color);
}
.code-link {
  background-color: #a82b2b;
}
.td-code:hover > .code-link {
  display: flex;
}

/* GITHUB */
.td-github {
  background-color: var(--github-color);
}
.github-link {
  background-color: black;
}
.td-github:hover > .github-link {
  display: flex;
}
/* LINKEDIN */
.td-linkedin {
  background-color: var(--linkedin-color);
}
.linkedin-link {
  background-color: #03213f;
}
.td-linkedin:hover > .linkedin-link {
  display: flex;
}
