:root {
  font-size: 62.5%;
  --bug: #93bb3a;
  --dark: #595761;
  --dragon: #176cc5;
  --electric: #f1d85a;
  --fairy: #ed93e4;
  --fighting: #d14461;
  --fire: #f9a555;
  --flying: #a2bcea;
  --ghost: #606fba;
  --grass: #63bc5d;
  --ground: #d87c52;
  --ice: #79d0c1;
  --normal: #a0a29f;
  --poison: #b667cd;
  --psychic: #f88684;
  --rock: #c9bb8d;
  --stell: #5995a2;
  --water: #579edd;
  --dark-color: #000;
  --light-color: #fff;
}
